@using Duftfinder.Resources
@using Duftfinder.Web.Controllers
@using Duftfinder.Web.Models
@model EffectViewModelIndex

@{
    ViewBag.Title = nameof(EffectController.Index);
}

@section Scripts
{
    @Scripts.Render("~/bundles/dialogs")
    @Scripts.Render("~/bundles/effect")
}

<div id="effects" class="duftfinder-content">
    <h2>@Resources.Effect_Effects</h2>
    
    @Html.HiddenFor(model => model.LastEditedEffectId, new { id = "lastEditedEffectId" })

    <p>
        @Html.ActionLink(Resources.Effect_Create, nameof(EffectController.CreateOrEdit))
    </p>

    <table class="table">
        <tr>
            <th>
                <label>@Resources.Effect_Name</label>
            </th>
            <th></th>
        </tr>

        @foreach (KeyValuePair<string, string> category in Model.CategoryDisplayItems)
        {
            @* List all categories. *@
            <tr>
                <td class="italic">
                    <label>@category.Value</label>
                </td>
                <td></td>
            </tr>

            @* List all effect for the appropriate category. *@
            foreach (EffectViewModel effectViewModel in Model.EffectViewModels)
            {
                if (effectViewModel.CategoryId == category.Key)
                {
                    <tr data-item-value-id="@effectViewModel.Id">
                        <td class="row-indention">
                            @Html.DisplayFor(modelItem => effectViewModel.Name)
                        </td>
                        <td>
                            <div>
                                @Html.ActionLink(Resources.Action_Edit, nameof(EffectController.CreateOrEdit), new { id = effectViewModel.Id }) |
                                @* Button is triggered in Effect.js *@
                                <a href="#" class="delete-buttons" data-item-id="@effectViewModel.Id" data-item-name="@effectViewModel.Name">@Resources.Action_Delete</a>
                            </div>

                            @* Placehoder for modal dialog. Html is set in Dialog.js*@
                            <div id="dialog-modal-@effectViewModel.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-modal-label" aria-hidden="true">
                            </div>
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>