@using Duftfinder.Resources
@using Duftfinder.Web.Controllers
@model Duftfinder.Web.Models.AssignMoleculeViewModel

@{
    ViewBag.Title = nameof(EssentialOilController.AssignMolecule);
}

@section Scripts
{
    <script src="/js/EssentialOil.js"></script>
}

@{
    // Disable Subnavigation, if Create.
    var id = string.IsNullOrEmpty(Model.EssentialOilId) ? "" : Model.EssentialOilId;
    @Html.Partial("_Subnavigation", id)
}

<div class="duftfinder-content">
    <h2>@Resources.EssentialOil_AssignMolecule</h2>

    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "assign-molecule-form"}))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EssentialOilId)
        @Html.HiddenFor(model => model.EssentialOilName)

        <div class="form-horizontal">
            <div id="essential-oil" class="form-group">
                <label class="control-label col-md-2 bold">@Resources.EssentialOil_AssignMolecule_EssentialOil</label>
                <label class="control-label col-md-10">@Html.DisplayFor(m => m.EssentialOilName)</label>
            </div>

            <table class="table">
                <tr>
                    <th>
                        <label>@Resources.Molecule_Molecules</label>
                    </th>
                    <th>
                        <label>@Resources.Molecule_Percentage</label>
                    </th>
                </tr>

                @foreach (var substance in Model.SubstanceDisplayItems)
                {
                    @* List all substances. *@
                    <tr>
                        <td class="italic">
                            <label>@substance.Value</label>
                        </td>
                        <td></td>
                    </tr>

                    @* List all molecules for the appropriate substance. *@
                    for (var i = 0; i < Model.AssignMolecules.Count; i++)
                    {
                        if (Model.AssignMolecules[i].SubstanceIdString == substance.Key)
                        {
                            @Html.Hidden("[" + i + "].AssignedValueId", Model.AssignMolecules[i].AssignedValueId)
                            @Html.Hidden("[" + i + "].AssignedValueName", Model.AssignMolecules[i].AssignedValueName)
                            @Html.Hidden("[" + i + "].SubstanceIdString", Model.AssignMolecules[i].SubstanceIdString)
                            <tr>
                                <td class="row-indention">
                                    <div>@Html.DisplayFor(model => Model.AssignMolecules[i].AssignedValueName)</div>
                                </td>
                                @* Workaround to get items of model list in HttpPost of Controller *@
                                <td>
                                    <div class="molecule-percentage">
                                        @Html.TextBox("[" + i + "].MoleculePercentage", Model.AssignMolecules[i].MoleculePercentage, new {@class = "form-control small-area numeric-only"})
                                        @Html.ValidationMessage("[" + i + "].MoleculePercentage", "", new {@class = "text-danger"})
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>

            @{
                // Disable "Save" button if no molecules exist is list.
                var disabled = Model.AssignMolecules.Count == 0 ? "disabled" : "";
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@Url.Action(nameof(EssentialOilController.Index), new {lastEditedEssentialOilId = Model.EssentialOilId})" class="btn btn-secondary">@Resources.Action_Cancel</a>
                    <input type="submit" value="@Resources.Action_Save" class="btn btn-primary @disabled"/>
                </div>
            </div>
        </div>
    }
</div>