@using System.Web.Optimization
@using Duftfinder.Domain.Helpers
@using Duftfinder.Resources;
@using Duftfinder.Web.Controllers
@using Duftfinder.Web.Models
@model MoleculeViewModelIndex

@{
    ViewBag.Title = nameof(MoleculeController.Index);
}

@section Scripts
{
    @Scripts.Render("~/bundles/dialogs")
    @Scripts.Render("~/bundles/molecule") 
}
<div id="molecules" class="duftfinder-content">
    <h2>@Resources.Molecule_Molecules</h2>
    
    @Html.HiddenFor(model => model.LastEditedMoleculeId, new { id = "lastEditedMoleculeId" })

    <p>
        @Html.ActionLink(Resources.Molecule_Create, nameof(MoleculeController.CreateOrEdit))
    </p>

    <table class="table">
        <tr>
            <th>
                <label>@Resources.Molecule_Name</label>
            </th>
            <th></th>
        </tr>
        
        @foreach (KeyValuePair<string, string> substance in Model.SubstanceDisplayItems)
        {
            @* List all substances. *@
            <tr>
                <td class="italic">
                    <label>@substance.Value</label>
                </td>
                <td></td>
            </tr>

            @* List all molecules for the appropriate substance. *@
        foreach (MoleculeViewModel moleculeViewModel in Model.MoleculeViewModels)
        {
            if (moleculeViewModel.SubstanceId == substance.Key)
            {
                <tr data-item-value-id="@moleculeViewModel.Id">
                    <td class="row-indention">
                        @Html.DisplayFor(modelItem => moleculeViewModel.Name)
                    </td>
                    <td>
                        @* IsGeneral items cannot be edited or deleted.*@
                        @if (!moleculeViewModel.IsGeneral)
                        {
                            <div>
                                @Html.ActionLink(Resources.Action_Edit, nameof(MoleculeController.CreateOrEdit), new { id = moleculeViewModel.Id }) |
                                @* Button is triggered in Effect.js *@
                                <a href="#" class="delete-buttons" data-item-id="@moleculeViewModel.Id" data-item-name="@moleculeViewModel.Name">@Resources.Action_Delete</a>
                            </div>

                                @* Placehoder for modal dialog. Html is set in Dialog.js*@
                                <div id="dialog-modal-@moleculeViewModel.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-modal-label" aria-hidden="true">
                                </div>
                        }
                    </td>
                </tr>
                }
            }
        }
    </table>
</div>
