@using System.Web.Optimization
@using Duftfinder.Resources
@using Duftfinder.Web.Controllers

@model Duftfinder.Web.Models.LoginViewModel

@{
    ViewBag.Title = nameof(AccountController.Login);
}

<div id="login" class="duftfinder-content">
    <h2>@Resources.Account_SignIn</h2>
    
    <div class="margin-top-big margin-bottom">
        <label>@Resources.Account_SignInText</label>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">@Resources.Account_Email</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@Resources.Account_Password</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Resources.Action_Login" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
    <div>
        <label>@Resources.Account_RegisterNowText</label><a href="@Url.Action("Register")">@Resources.Account_RegisterNowTextNow</a>
    </div>
    <div>
        <label>@Resources.Account_ForgotPasswordText</label><a href="@Url.Action("ForgotPassword")">@Resources.Account_ForgotPasswordTextForgot</a>
        <label>@Resources.Account_ChangePasswordText</label><a href="@Url.Action("ChangePassword")">@Resources.Account_ChangePasswordTextChange</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
