@using Duftfinder.Resources
@using Duftfinder.Web.Controllers
@model Duftfinder.Web.Models.RegisterViewModel

@{
    ViewBag.Title = nameof(AccountController.Register);
}

<div id="register" class="duftfinder-content">
    <h2>@Resources.Account_Register</h2>

    <div class="margin-top-big margin-bottom">
        <label>@Resources.Account_RegisterText</label>
    </div>

    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">@Resources.Account_FirstName</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.FirstName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">@Resources.Account_LastName</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.LastName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">@Resources.Account_Email</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">@Resources.Account_Password</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Password, new {type = "password", @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">@Resources.Account_PasswordConfirmation</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Password2, new {type = "password", @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Password2, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@Url.Action(nameof(AccountController.Login))" class="btn btn-secondary">@Resources.Action_Back</a>
                    <input type="submit" value="@Resources.Action_Register" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation/dist/additional-methods.js"></script>
}