@using System.Web.Optimization
@using Duftfinder.Resources
@using Duftfinder.Web.Controllers

@{
    ViewBag.Title = nameof(AccountController.RegistrationConfirmation);
}
<div id="registration-confirmation" class="duftfinder-content">
    <h2>@Resources.Account_RegistrationConfirmation</h2>
    
    <div class="margin-top-big margin-bottom">
        <label>@Resources.Account_RegistrationConfirmationText</label>
    </div>
    <div>
        <label>@Resources.Account_RegistrationConfirmation_SearchEssentialOilText</label>
        <a href="@Url.Action("Index", "SearchEssentialOil")">@Resources.Account_RegistrationConfirmation_SearchEssentialOil</a>
    </div>
</div>
