@using Duftfinder.Resources
@using Duftfinder.Web.Controllers
@{
    ViewBag.Title = nameof(AccountController.VerifyAccount);
}

<div id="verified-account" class="duftfinder-content">
    @if (ViewData.ModelState.IsValid)
    {
        <h2>@Resources.Account_AccountVerified</h2>

        <div class="margin-top-big margin-bottom">
            <label>@Resources.Account_AccountVerifiedText</label>
        </div>
        <div>
            <label>@Resources.Account_AccountVerified_SearchEssentialOilText</label>
            <a href="@Url.Action("Index", "SearchEssentialOil")">@Resources.Account_AccountVerified_SearchEssentialOil</a>
        </div>
    }
    else
    {
        // Show error message, if ModelState is not valid.
        <h2>@Resources.Error_AccountVerifiedError</h2>

        <div class="margin-top-big margin-bottom">
            <label>@Resources.Error_RegistrationFailed @Resources.Error_ContactAdmin</label>
        </div>
    }
</div>