@using System.Web.Optimization
@using Duftfinder.Domain.Helpers
@using Duftfinder.Resources
@using Duftfinder.Web.Controllers
@using Duftfinder.Web.Models

@{
    ViewBag.Title = nameof(SettingsController.Index);
}

@section Scripts
{
    @Scripts.Render("~/bundles/dialogs")
}

<div class="duftfinder-content">
    <h2>@Resources.Settings_Settings</h2>

    <label>@Resources.Settings_Text</label>
    <div>
        <a href="#" data-toggle="modal" data-target="#dialog-modal-initialize-substances-categories" class="btn btn-primary">@Resources.Settings_InitializeSubstancesAndCategories</a>
    </div>
    <div>
        <a href="#" data-toggle="modal" data-target="#dialog-modal-initialize-essential-oils" class="btn btn-primary">@Resources.Settings_InitializeEssentialOils</a>
    </div>
    <div>
        <a href="#" data-toggle="modal" data-target="#dialog-modal-initialize-effects" class="btn btn-primary">@Resources.Settings_InitializeEffects</a>
    </div>
    <div>
        <a href="#" data-toggle="modal" data-target="#dialog-modal-initialize-molecules" class="btn btn-primary">@Resources.Settings_InitializeMolecules</a>
    </div>
    <div>
        <a href="#" data-toggle="modal" data-target="#dialog-modal-initialize-users" class="btn btn-primary">@Resources.Settings_InitializeUsers</a>
    </div>
    <div>
        <a href="#" data-toggle="modal" data-target="#dialog-modal-initialize-configuration" class="btn btn-primary">@Resources.Settings_InitializeConfigurationValues</a>
    </div>

    @* Placehoder for modal dialog. *@
    <div id="dialog-modal-initialize-substances-categories" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-modal-label" aria-hidden="true">
        @{
            // Modal for confirmation stuff.
            ConfirmationViewModel model = new ConfirmationViewModel { Id = "initialize-substances-categories", Name = String.Empty, DialogTitle = Resources.Settings_InitializeSubstancesAndCategories, DialogText = Resources.Confirmation_InitializeSubstancesAndCategories_Text, Action = Constants.SettingsInitializeSubstancesAndCategories };
            @Html.Partial("_Confirmation", model)
        }
    </div>

    @* Placehoder for modal dialog. *@
    <div id="dialog-modal-initialize-essential-oils" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-modal-label" aria-hidden="true">
        @{
            // Modal for confirmation stuff.
            ConfirmationViewModel modelEssentialOils = new ConfirmationViewModel { Id = "initialize-essential-oils", Name = String.Empty, DialogTitle = Resources.Settings_InitializeEssentialOils, DialogText = Resources.Confirmation_InitializeEssentialOils_Text, Action = Constants.SettingsInitializeEssentialOils };
            @Html.Partial("_Confirmation", modelEssentialOils)
        }
    </div>

    @* Placehoder for modal dialog. *@
    <div id="dialog-modal-initialize-effects" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-modal-label" aria-hidden="true">
        @{
            // Modal for confirmation stuff.
            ConfirmationViewModel modelEffects = new ConfirmationViewModel { Id = "initialize-effects", Name = String.Empty, DialogTitle = Resources.Settings_InitializeEffects, DialogText = Resources.Confirmation_InitializeEffects_Text, Action = Constants.SettingsInitializeEffects };
            @Html.Partial("_Confirmation", modelEffects)
        }
    </div>

    @* Placehoder for modal dialog. *@
    <div id="dialog-modal-initialize-molecules" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-modal-label" aria-hidden="true">
        @{
            // Modal for confirmation stuff.
            ConfirmationViewModel modelMolecules = new ConfirmationViewModel { Id = "initialize-molecules", Name = String.Empty, DialogTitle = Resources.Settings_InitializeMolecules, DialogText = Resources.Confirmation_InitializeMolecules_Text, Action = Constants.SettingsInitializeMolecules };
            @Html.Partial("_Confirmation", modelMolecules)
        }
    </div>

    @* Placehoder for modal dialog. *@
    <div id="dialog-modal-initialize-users" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-modal-label" aria-hidden="true">
        @{
            // Modal for confirmation stuff.
            ConfirmationViewModel modelUsers = new ConfirmationViewModel { Id = "initialize-users", Name = String.Empty, DialogTitle = Resources.Settings_InitializeUsers, DialogText = Resources.Confirmation_InitializeUsers_Text, Action = Constants.SettingsInitializeUsers };
            @Html.Partial("_Confirmation", modelUsers)
        }
    </div>

    @* Placehoder for modal dialog. *@
    <div id="dialog-modal-initialize-configuration" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-modal-label" aria-hidden="true">
        @{
            // Modal for confirmation stuff.
            ConfirmationViewModel modelConfiguration = new ConfirmationViewModel { Id = "initialize-configuration", Name = String.Empty, DialogTitle = Resources.Settings_InitializeConfigurationValues, DialogText = Resources.Confirmation_InitializeConfigurationValues_Text, Action = Constants.SettingsInitializeConfigurationValues };
            @Html.Partial("_Confirmation", modelConfiguration)
        }
    </div>

</div>
