@using Duftfinder.Resources
@using Duftfinder.Web.Controllers
@model IEnumerable<Duftfinder.Web.Models.ConfigurationViewModel>

@{
    ViewBag.Title = nameof(ConfigurationController.Index);
}

<div id="configuration" class="duftfinder-content">
    <h2>@Resources.Configuration_Configurations</h2>

    <table class="table">
        <tr>
            <th>
                <label>@Resources.Configuration_Key</label>
            </th>
            <th>
                <label>@Resources.Configuration_Value</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <div>
                        @Html.ActionLink(Resources.Action_Edit, nameof(ConfigurationController.Edit), new {id = item.Id})
                    </div>
                </td>
            </tr>
        }
    </table>
</div>