@using Duftfinder.Resources
@model Duftfinder.Web.Models.SearchResultViewModel

<div id="essential-oil-search-results-header" class="margin-bottom">
    <span>@Resources.SearchEssentialOil_SearchResultAmountText @Model.SearchEssentialOilResultsAmount</span>
</div>

<table class="table">

    @if (Model.SearchEssentialOilResults.Any())
    {
        // Only show table entries, if essential oils found.
        <tr>
            <th>
                <label>@Resources.EssentialOil_Name</label>
            </th>
            @* Column is hidden on sm and xs devices.*@
            <th class="d-none d-md-block">
                <label>@Resources.EssentialOil_NameLatin</label>
            </th>
            <th></th>
            <th></th>
        </tr>
        int picNumber = 0;
        foreach (var alphabeticalIndex in Model.AlphabeticalIndexes)
        {
            @* List all alphabetical indexes. (A-Z)*@
            <tr>
                <td class="italic">
                    <label>@alphabeticalIndex</label>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            

            // Order essential oils by their alphabetical indexes.
            foreach (var item in Model.SearchEssentialOilResults)
            {
                if (item.FirstLetterOfEssentialOilName == alphabeticalIndex)
                {
                    <tr data-item-value-id="@item.Id">
                        <td class="row-indention">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @* Column is hidden on sm and xs devices.*@
                        <td class="d-none d-md-block">
                            @Html.DisplayFor(modelItem => item.NameLatin)
                        </td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(item.PictureFileName))
                            {
                                picNumber = picNumber+1;
                                <img id="picture-container" picnumber="@picNumber" class="picture" width="50" height="50" src="@item.PictureDataAsStringDisplay"/>
                                
                                <div>
                                    <span id="pop-up_@picNumber" class="picture-popup">

                                        <img src="@item.PictureDataAsStringDisplay"/>
                                    </span>
                                </div>
                            }
                        </td>
                        <td>
                            @* Button is triggered in SearchEssentialOil.js *@
                            <a href="#" id="@item.Id" class="details-buttons">@Resources.Action_Details</a>
                        </td>
                    </tr>
                }
            }
        }
    }
    else
    {
        // Show text, if no essential oils found.
        <tr>
            <td>
                <label>@Resources.SearchEssentialOil_NoEssentialOilsFound</label>
            </td>
            <td></td>
            <td></td>
        </tr>
    }


</table>